---
import { InnerHTML } from '@/components/inner-html'
import { ProjectModal } from '@/components/project-modal'
import { ProjectsCarousel } from '@/components/projects-carousel'
import { Clipboard } from '@/components/ui/clipboard'
import { Heading } from '@/components/ui/heading'
import { Chat, Linkedin, MapPin } from '@/components/ui/icons'
import { Link } from '@/components/ui/link'
import { EMAIL, LOCATION, PHONE, SOCIALS } from '@/constants/common'
import { allTechnologies, technologies } from '@/constants/technologies'
import Layout from '@/layouts/layout.astro'
import { DEFAULT_LOCALE, LOCALES, type Locale } from '@/lib/i18n'
import type { GithubRepo, Project, ProjectConfig } from '@/types/github-repo'
import type { Translations } from '@/types/translations'
import {
  Code,
  Github,
  Globe,
  MailSolid,
  NavArrowDown,
  PhoneSolid,
  SendDiagonalSolid,
} from 'iconoir-react'
import { Octokit } from 'octokit'

export function getStaticPaths() {
  return LOCALES.map((locale) => ({
    params: { locale },
  }))
}

const locale = (Astro.currentLocale || DEFAULT_LOCALE) as Locale
const translations = await import(`../../translations/${locale}.ts`)
const t = translations[locale.replace('-', '_')] as Translations

const octokit = new Octokit({
  auth: import.meta.env.GITHUB_TOKEN,
})

const response = await octokit.request('GET /users/byAlek/repos')
const data = response.data as GithubRepo[]

const projects: Project[] = (
  await Promise.all(
    data.map(async (repo) => {
      try {
        const metadataRes = await octokit.request(`GET /repos/${repo.full_name}/contents/metadata`)

        const metadata = (await metadataRes.data) as {
          name: string
          download_url: string
        }[]

        if (!Array.isArray(metadata)) return null

        const configFile = metadata.find((i) => i.name === 'config.json')
        const primaryFile = metadata.find((i) => i.name.includes('primary'))

        if (!configFile || !primaryFile) return null

        const config = (await (await fetch(configFile.download_url)).json()) as ProjectConfig
        const images = metadata
          .filter((i) => i.name !== 'config.json' && !i.name.includes('primary'))
          .map((i) => ({
            src: i.download_url,
            alt: i.name,
          }))
        const primaryImage = {
          src: primaryFile.download_url,
          alt: primaryFile.name,
        }

        return {
          ...repo,
          metadata: {
            ...config,
            primary_image: primaryImage,
            images: [primaryImage, ...images],
          },
        }
      } catch {
        return null
      }
    })
  )
).filter(Boolean) as Project[]
---

<Layout title="Alex Developer" class="space-y-16 lg:space-y-28" t={t}>
  <section class="layout min-h-svh content-center space-y-8 pt-22 pb-4 lg:pt-24">
    <h2 class="title relative sm:hidden">Alex Dev</h2>
    <h1 class="title-primary md:hidden">Front-end Developer</h1>

    <div class="flex items-center justify-between gap-4 gap-x-20">
      <h1 class="title-primary hidden md:block">Front-end</h1>
      <Link size="xl" className="group relative flex md:grow lg:max-w-3/10" href="#projects">
        {t.buttons.view_projects}
        <NavArrowDown
          className="text-primary group-hover:animate-in group-hover:fade-in-0 group-hover:slide-in-from-top-50 absolute inset-x-0 top-full mx-auto size-6 opacity-0 duration-200 group-hover:opacity-100"
        />
      </Link>
    </div>

    <div class="flex items-center justify-between gap-4 text-balance">
      <p>
        <InnerHTML content={t.home.description} />
      </p>
      <h2 class="title-primary hidden md:block">Developer</h2>
    </div>

    <footer class="mt-16 flex flex-wrap items-center gap-4 md:justify-center">
      <Link variant="secondary" href={SOCIALS.github} target="_blank" rel="noopener noreferrer">
        <Github className="fill-current" />
        Github
      </Link>
      <Link variant="secondary" href={SOCIALS.linkedin} target="_blank" rel="noopener noreferrer">
        <Linkedin />
        Linkedin
      </Link>
    </footer>

    <Link
      href="#carousel"
      variant="ghost"
      className="absolute inset-x-0 bottom-4 mx-auto w-fit"
      size="icon-lg"
    >
      <NavArrowDown className="animate-[slideFade_3s_ease-in-out_infinite]" />
    </Link>
  </section>

  <section id="carousel">
    <ProjectsCarousel client:load t={t} projects={projects} />
  </section>

  <section class="layout space-y-4 md:space-y-8">
    <header>
      <Heading render="h2" className="mb-2">
        <InnerHTML content={t.about.title} />
      </Heading>
      <p>
        <InnerHTML content={t.about.subtitle_primary} />
      </p>
      <p>
        <InnerHTML content={t.about.subtitle_secondary} />
      </p>
    </header>
    <div class="flex gap-4 lg:gap-8">
      <ul class="space-y-4 md:w-2/3 lg:space-y-8">
        <li class="card">
          <h3 class="title">Front-end</h3>
          <p class="text-sm font-semibold">
            {Object.values(technologies.frontend).join(' / ')}
          </p>
        </li>

        <li class="flex items-center gap-4">
          <div class="card grow md:max-w-2/3">
            <h3 class="title">Styles</h3>
            <p class="text-sm font-semibold">
              {Object.values(technologies.frontend).join(' / ')}
            </p>
          </div>

          <Link href={SOCIALS.linkedin} customVariant={1} className="relative mr-4 md:mx-auto">
            <Linkedin />
          </Link>
        </li>

        <li class="card lg:max-w-8/10">
          <h3 class="title">Back-end</h3>
          <p class="text-sm font-semibold">
            {Object.values(technologies.backend).join(' / ')}
          </p>
        </li>

        <p class="max-w-lg">
          <InnerHTML content={t.about.description} />
        </p>
      </ul>

      <div class="bg-primary hidden flex-1 items-center justify-center rounded-4xl md:flex">
        <p class="text-primary-foreground text-center text-[200px]">:)</p>
      </div>
    </div>
  </section>

  <section id="projects" class="layout space-y-4 md:space-y-8">
    <Heading render="h2">
      <InnerHTML content={t.projects.title} />
    </Heading>
    <div class="flex flex-col gap-24">
      {
        projects.map(({ id, metadata, ...project }, i) => (
          <article
            id={String(id)}
            class="flex w-full flex-wrap gap-4 pt-4 md:flex-nowrap md:even:*:data-even-child:order-first lg:gap-8"
          >
            <header class="space-y-2 md:hidden">
              <h2 class="title">
                <InnerHTML content={project.name} />
              </h2>
              <div class="space-y-1">
                <p>
                  <InnerHTML content={metadata.description[locale]} />
                </p>
                {metadata.comment && (
                  <p>
                    <InnerHTML content={metadata.comment[locale]} />
                  </p>
                )}
              </div>
              <ul class="flex flex-wrap gap-2">
                {Object.values(metadata.technologies || {}).map((tech) =>
                  tech.map(
                    (t) =>
                      allTechnologies[t] && (
                        <li>
                          <p class="rounded-full border px-3 py-1 text-xs font-semibold">
                            {allTechnologies[t]}
                          </p>
                        </li>
                      )
                  )
                )}
              </ul>
            </header>

            <ProjectModal client:load project={projects[i]} />

            <div
              data-even-child
              class="mr-auto flex basis-full flex-col justify-center gap-4 md:max-w-lg md:basis-1/2"
            >
              <header class="hidden space-y-2 md:block">
                <h2 class="title">{project.name}</h2>
                <div class="space-y-1">
                  <p>
                    <InnerHTML content={metadata.description?.[locale]} />
                  </p>
                  {metadata.comment && (
                    <p>
                      <InnerHTML content={metadata.comment[locale]} />
                    </p>
                  )}
                </div>
                <ul class="flex flex-wrap gap-2">
                  {Object.values(metadata.technologies || {}).map((tech) =>
                    tech.map(
                      (t) =>
                        allTechnologies[t] && (
                          <li>
                            <p class="rounded-full border px-3 py-1 text-xs font-semibold">
                              {allTechnologies[t]}
                            </p>
                          </li>
                        )
                    )
                  )}
                </ul>
              </header>
              <footer class="flex gap-4 *:basis-2/10">
                {project.html_url && (
                  <Link
                    variant="outline"
                    href={project.html_url}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {t.buttons.view_source}
                    <Code class="size-5" />
                  </Link>
                )}
                {project.homepage && (
                  <Link href={project.homepage} target="_blank" rel="noopener noreferrer">
                    {t.buttons.view_live}
                    <Globe class="size-5" />
                  </Link>
                )}
              </footer>
            </div>
          </article>
        ))
      }
    </div>
  </section>

  <section id="contact" class="layout grid gap-x-4 gap-y-8 py-4 sm:grid-cols-2">
    <div class="space-y-4">
      <Heading render="h2">
        <InnerHTML content={t.contact.title} />
      </Heading>
      <div class="w-fit *:flex *:items-center *:gap-2">
        <div class="group/clipboard-button">
          <MailSolid />
          <p class="cursor-default select-all">{EMAIL}</p>
          <Clipboard valueToCopy={EMAIL} client:load />
          <Link
            variant="ghost"
            size="icon-sm"
            className="group-hover/clipboard-button:opacity-100 hover:opacity-100 focus:opacity-100 lg:opacity-0"
            href={`mailto:${EMAIL}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <SendDiagonalSolid />
          </Link>
        </div>
        <div class="group/clipboard-button">
          <PhoneSolid />
          <p class="cursor-default select-all">{PHONE}</p>
          <Clipboard valueToCopy={PHONE} client:load />
          <Link
            variant="ghost"
            size="icon-sm"
            className="group-hover/clipboard-button:opacity-100 hover:opacity-100 focus:opacity-100 lg:opacity-0"
            href={SOCIALS.whatsapp}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Chat />
          </Link>
        </div>
        <div>
          <MapPin />
          <p>{LOCATION}</p>
        </div>
      </div>
    </div>

    <div class="relative">
      <p class="flex flex-wrap *:basis-full">
        <span class="title-primary">Alex</span>
        <span class="title-primary text-end">Jhordan</span>
      </p>
      <p class="text-muted-foreground absolute top-0 right-0 text-xs italic lg:text-base">
        Front-end
        <br />
        Developer
      </p>
    </div>

    <footer class="flex justify-center gap-4 sm:col-span-2">
      <Link
        variant="secondary"
        size="lg"
        href={SOCIALS.github}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Github className="fill-current" />
        Github
      </Link>
      <Link
        variant="secondary"
        size="lg"
        href={SOCIALS.linkedin}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Linkedin />
        Linkedin
      </Link>
    </footer>
  </section>
</Layout>

<style>
  @keyframes slideFade {
    0% {
      opacity: 0;
      transform: translateY(-12px);
    }
    30% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(12px);
    }
  }
</style>
