---
import '@/global.css'
import { ClientRouter, fade } from 'astro:transitions'
import Background from '@/components/background.astro'
import { HeaderButtons } from '@/components/header-buttons'
import Header from '@/components/header.astro'
import { Link } from '@/components/ui/link'
import { DEFAULT_LOCALE } from '@/lib/i18n'
import type { Translations } from '@/types/translations'

function formatLocale(locale: string) {
  const [lang, region] = locale.split('-')
  return region ? `${lang.toLowerCase()}-${region.toUpperCase()}` : lang.toLowerCase()
}

const locale = Astro.currentLocale || DEFAULT_LOCALE

interface Props {
  title: string
  class?: string
  t: Translations
}

const { title, class: className, t } = Astro.props
---

<!doctype html>
<html lang={formatLocale(locale)}></html>
<head>
  <script is:inline>
    function getCookie(name) {
      const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'))
      return match ? decodeURIComponent(match[2]) : null
    }
    function setCookie(name, value, days = 30) {
      const expires = new Date(Date.now() + days * 864e5).toUTCString()
      document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expires + '; path=/'
    }
    function safeJSON(value) {
      try {
        return JSON.parse(value)
      } catch {
        return null
      }
    }
    function initTheme() {
      const themeRaw =
        getCookie('theme') ?? JSON.stringify({ color: 'default', mode: 'auto', autoMode: true })
      const theme = safeJSON(themeRaw)

      if (theme) {
        const html = document.documentElement

        if (theme.autoMode) {
          const mode = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
          html.classList.add(`${theme.color}-${mode}`)
          console.log(`${theme.color}-${mode}`)
          setCookie('theme', JSON.stringify({ color: theme.color, mode, autoMode: true }))
          console.log(theme.autoMode)
          return
        }

        html.classList.add(`${theme.color}-${theme.mode}`)
        return
      }
    }
    initTheme()
    document.addEventListener('astro:page-load', initTheme)
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
    rel="stylesheet"
  />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Alex Dev" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ClientRouter />
</head>
<body>
  <Background />

  <Header class="flex items-center justify-between gap-2 lg:gap-4">
    <p class="title hidden sm:block">Alex Dev</p>
    <nav class="flex flex-wrap gap-2 sm:justify-center lg:gap-4">
      <Link variant="ghost" size="sm" href="#projects" className="lg:h-10 lg:px-6 lg:text-sm">
        {t.buttons.view_projects}
      </Link>
      <Link variant="ghost" size="sm" href="#contact" className="lg:h-10 lg:px-6 lg:text-sm">
        {t.buttons.contact}
      </Link>
    </nav>
    <HeaderButtons client:load locale={locale} />
  </Header>

  <main class={className} transition:animate={fade({ duration: '0.2s' })}>
    <slot />
  </main>
</body>

<script>
  import { initScrollLock } from '@/lib/scroll-lock'
  import { initTheme } from '@/lib/theme'

  initTheme()
  initScrollLock()
</script>
